.items-space{
    margin-right: 4rem;
}

.items-space:nth-child(1){
    margin-left: 2rem;
}

.image-class{
    border-radius: 9999px;
    height: 12rem;
    width: 12rem;
}


.container{
    width: 100%;
    margin-top: 20px;
}

.span-class {
    color: black;
    font-size: 20px;
    text-transform:uppercase;
}

.span-class:hover,
.span-class:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.dropdown{
    display: none;
}

@media (max-width: 425px) {
    .dropdown{
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        border-bottom: solid
    }
    .items-space{
        margin-right: 0rem;
    }

    .items-space:nth-child(1){
        margin-left: 0rem;
    }
    .container{
        display: none;
        flex-direction: column;
        text-align: center;
        border-bottom: solid;
        margin-top: 0px;
    }
}

@media (mid-width: 426px) {
    .container{
        display: contents;
    }
}
